{extends "../@layout.latte"}
{block title}{_view_topic} "{$topic->getTitle()}"{/block}

{block content}
<div class="page_block">
    {var $editButton = $topic->canBeModifiedBy($thisUser) ? '<a class="button" href="javascript:showEditTopicModal(\''.$club->getId().'_'.$topic->getVirtualId().'\')">'.tr("edit_topic_action").'</a>' : ''}
    {include "../components/page_crumb_header.latte", crumbs: [
        ['href' => $club->getURL(), 'title' => $club->getCanonicalName()],
        ['href' => "/board{$club->getId()}", 'title' => tr("discussions")],
        ['title' => $topic->getTitle(), 'count' => $count]
    ], extra => $editButton
    }
    <div class="page_block_sub_header bt_header">
        {$topic->getTitle()}
    </div>
</div>
    {if !$chat}
        {include "../components/comments.latte", comments => $comments, count => $count, page => $page, model => "topics", club => $club, readOnly => $topic->isClosed() || ($topic->isRestricted() && !$club->canBeModifiedBy($thisUser)), showTitle => false, parent => $topic}
    {else}
        <div id="chat-topic">
            <span class="t1">{_topic_going_in_chat}</span>
            <div class="chat-topic-preview">
                <img src="{$chat->getPhotoURL("miniscule")}" alt="chat">
                <div>
                    <b>{$chat->getTitle()}</b>
                    <p>{tr("participants", $chat->getMembersCount())}</p>
                </div>
            </div>
            <div class="t3">
                <input value="{_chat_join}" class="button" type="button" onclick="openChatTopic(event, {$topic->getPrettyId()})">
            </div>
        </div>
    {/if}
{/block}
