{extends "../@layout.latte"}

{block title}
    {_document} "{ovk_proc_strtr($doc->getName(), 20)}"
{/block}

{block content}

    {var $owner = $doc->getOwner()}
    {var $crumbs = [
        ['href' => '/docs', 'title' => tr('documents')],
        ['title' => tr('document')]
    ]}
    {if !$doc->isOwnerHidden()}
        {do $crumbs = array_merge([['href' => $owner->getURL(), 'title' => $owner->getCanonicalName()]], $crumbs)}
    {/if}
    <div class="page_block media-page-wrapper">
        {include "../components/page_crumb_header.latte", crumbs => $crumbs}
        <div class="document_preview_page" data-id="{$doc->getPrettiestId()}">
            <div class='photo-page-wrapper-photo'>
                {if $doc->isGif()}
                    <img class="main_doc_block" alt="doc image" src="{$doc->getURL()}" />
                {elseif $doc->isImage()}
                    <img class="main_doc_block" alt="doc image" src="{$doc->getPreview()->getURLBySizeId('original')}" />
                {elseif $doc->isAudio()}
                    <audio src="{$doc->getURL()}" controls></audio>
                {*{elseif $doc->isBook()}
                    <iframe src="{$doc->getURL()}" frameborder="0"></iframe>*}
                {else}
                    {include "../components/content_error.latte", description => vkifyTr('document_preview_unavailable')}
                {/if}
            </div>
            <div class="ovk-photo-details">
                <div class='media-page-wrapper-description'>
                    <p n:if='sizeof($tags) > 0'>
                        {foreach $tags as $tag}
                            <a href="/search?section=docs&tags={urlencode($tag)}">
                                {$tag}{if $tag != $tags[sizeof($tags) - 1]},{/if}
                            </a>
                        {/foreach}
                    </p>
                    <div class='upload_time'>
                        {_info_upload_date}: {$doc->getPublicationTime()}
                    </div>
                </div>
                <div n:if="isset($thisUser)" class="page_block_footer document_actions" data-context="page" data-id="{$doc->getPrettiestId()}">
                    <div class="post_full_like_wrap">
                        <div class="post_full_like docMainItem" data-context="page" data-id="{$doc->getPrettiestId()}">
                            <a n:if="!$copied" class="action_button post_add" id="vkifyAdd">
                                <i class="action_icon"></i>
                                <span class="action_label">{_add}</span>
                            </a>
                            <a n:if="$copied && $doc->isCopy()" class="action_button post_remove" id="vkifyRemove">
                                <i class="action_icon"></i>
                                <span class="action_label">{_remove}</span>
                            </a>
                            <a class="action_button post_download" href="{$doc->getURL()}" download="{downloadable_name($doc->getName())}">
                                <i class="action_icon"></i>
                                <span class="action_label">{_download_file}</span>
                            </a>
                            <a n:if="$modifiable" class="action_button post_edit" id="edit_icon" onclick="window.e = event; onEditIconButtonClick(event)">
                                <i class="action_icon"></i>
                                <span class="action_label">{_edit}</span>
                            </a>
                            <a n:if="!$modifiable" class="action_button side_button post_report" id="report_icon">
                                <span class="action_label">{_report}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}
