{extends "../@layout.latte"}
{block title}{_feed}{/block}

{block appbar_extra}
<div class="mobileonly" id="feed_appbar_extra">
    <button class="appbar-extra-btn" id="__feed_settings_link" onclick="onFeedSettingsClick(event)" aria-label="{_feed_settings}" data-pagescount='{ceil($paginatorConf->count / $paginatorConf->perPage)}'>
        <svg viewBox="0 0 24 24" width="24" height="24" fill="currentColor"><use href="#settings-24"></use></svg>
    </button>
</div>
{/block}

{block content}

    {var $menuItems = [
        [
            'url' => '/feed',
            'title' => 'my_news',
            'active' => !isset($globalFeed)
        ],
        [
            'url' => '/feed/all',
            'title' => 'all_news',
            'active' => isset($globalFeed)
        ],
        [
            'id' => '__feed_settings_link',
            'class' => 'nomobile',
            'url' => '#',
            'title' => 'feed_settings',
            'active' => false,
            'onclick' => 'onFeedSettingsClick(event)',
            'data-pagescount' => ceil($paginatorConf->count / $paginatorConf->perPage)
        ]
    ]}

    {php $GLOBALS["_bigWall"] = 1}

    <div class="wide_column_left">
        <div class="narrow_column_wrap">
            <div class="narrow_column">
                {include "../components/ui_rmenu.latte", items => $menuItems, additionalCssClass => 'show_as_menu_on_mobile'}
            </div>
        </div>

        <div class="wide_column_wrap">
            <div class="wide_column">
                <div class="page_block postFeedWrapperMicroblog">
                    {include "../components/textArea.latte", route => "/wall" . $thisUser->getId() . "/makePost", graffiti => true, polls => true, notes => true, hasSource => true, geo => true}
                </div>
                
                {var $feedFetchUrl = isset($globalFeed) ? '/feed/all' : '/feed'}
                <div class='scroll_container' data-fetch-url="{$feedFetchUrl}">
                    {if !empty($posts)}
                        {foreach $posts as $post}
                            {include "../components/post.latte", post => $post, commentSection => true}
                        {/foreach}
                    {else}
                        {include "../components/content_error.latte", description => tr("no_posts_abstract")}
                    {/if}
                </div>

                <div class="postFeedBottom">
                    <div class="postFeedPaginator">
                        {php $paginatorConf->fetchUrl = $feedFetchUrl;}
                        {include "../components/paginator.latte", conf => $paginatorConf}
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block bodyScripts}
{/block}