{extends "../@layout.latte"}
{var $iterator    = $videos}
{var $count       = $paginatorConf->count}
{var $page        = $paginatorConf->page}

{block title}{_videos} {$user->getCanonicalName()}{/block}

{block content}
    <div class="page_block">
        {include "../components/page_crumb_header.latte", crumbs: [
            ['href' => $user->getURL(), 'title' => $user->getCanonicalName()],
            ['title' => tr("videos"), 'count' => $count]
        ], extra => (isset($thisUser) && !\OPENVK_ROOT_CONF['openvk']['preferences']['videos']['disableUploading']) ? (($user->getRealId() == $thisUser->getId()) ? '<a class="button" href="javascript:showFastVideoUpload()">'.tr("upload_video").'</a>' : (($user->getRealId() < 0 && $user->canUploadVideo($thisUser)) ? '<a class="button" href="/videos/upload?gid='.$user->getId().'">'.tr("upload_video").'</a>' : '')) : ''
        }
        {include "../components/search_bar.latte",
            id => 'videos_search_header',
            form_class => 'search_page_form',
            placeholder => tr('header_search'),
            action => '/search',
            section => 'videos',
            input_name => 'q',
            input_title => tr('header_search'),
            input_maxlength => '59',
            autocomplete => 'off',
            class => 'videos_search_header'
        }
        <div class="video_block_layout">
            {var $data = is_array($iterator) ? $iterator : iterator_to_array($iterator)}
            {if sizeof($data) > 0}
                <div class="video_items_list scroll_container">
                    {foreach $data as $x}
                        {include "../components/video.latte", video => $x}
                    {/foreach}
                </div>
                    {include "../components/paginator.latte", conf => (object) [
                        "page"     => $page,
                        "count"    => $count,
                        "amount"   => sizeof($data),
                        "perPage"  => $perPage ?? \OPENVK_DEFAULT_PER_PAGE,
                        "atBottom" => true,
                    ]}
            {/if}
            {include "../components/nothing.latte", icon => 'video_empty.png', className => sizeof($data) !== 0 ? 'hidden' : ''}
        </div>
    </div>
{/block}
