{extends "../@layout.latte"}
{block title}{_upload_video}{/block}

{block content}
<div class="page_block">
    {include "../components/page_crumb_header.latte", crumbs: [
        ['href' => $owner->getURL(), 'title' => $owner->getCanonicalName()],
        ['href' => "/videos{$owner->getRealId()}", 'title' => tr("videos")],
        ['title' => tr("upload_video")]
    ]}
    <div id="_video_upload_form" class="form_group page_padding">
        <form method="post" enctype="multipart/form-data" id="videoUploadForm">
            <div class="form_field">
                <div class="form_label">{_name}</div>
                <div class="form_data">
                    <input type="text" name="name" />
                </div>
            </div>
            <div class="form_field">
                <div class="form_label">{_description}</div>
                <div class="form_data">
                    <textarea name="desc"></textarea>
                </div>
            </div>
            <div class="form_field">
                <div class="form_label">{_video}</div>
                <div class="form_data">
                    <label class="button" style="">{_browse}
                        <input type="file" id="blob" name="blob" style="display: none;" onchange="filename.innerHTML=blob.files[0].name" accept="video/*" />
                    </label>
                    <div id="filename" style="margin-top: 10px;"></div>
                </div>
            </div>
            <div class="form_field">
                <div class="form_label">{_video_link_to_yt}</div>
                <div class="form_data">
                    <input type="text" name="link" placeholder="https://www.youtube.com/watch?v=9FWSRQEqhKE" />
                </div>
            </div>
            <div id="percentage" class="form_field" style="visibility: collapse; margin-top: 15px;">
                <div class="progress" style="width: 100%;">
                    <div class="progress-bar" style="width: 0%;"></div>
                </div>
            </div>
            <div class="settings_save_footer">
                <input type="hidden" name="hash" value="{$csrfToken}" />
                <input type="submit" class="button" name="submit" onclick="onUploadVideoClick(event)" id="uploadVideo" value="{_upload_button}" />
            </div>
        </form>
    </div>
</div>
{script "js/al_videos.js"}
{/block}
