{var $canComment = $thisUser && $parent->canBeCommentedBy($thisUser)}
{var $parentPrefix = match($model ?? '') {
    'photos' => '/photo',
    'videos' => '/video',
    'posts' => '/wall',
    'topics' => '/topic',
    'notes' => '/note',
    default => null
}}
{var $commentsFetchUrl = $parentPrefix && isset($parent) ? ($parentPrefix . $parent->getPrettyId() . (isset($sort) && $sort ? ('?sort=' . $sort) : '')) : null}
{if $count > 0 || $canComment}
    <div id="replies" class="page_block comments">
        {if isset($sort) && !is_null($sort) && $count > 5}
            <div class="post_replies_header">
            <a class="sort_link" onclick="click_on_sort(event)" n:attr="href => $sort == 'desc' ? '?sort=asc' : '?sort=desc'">
                {if $sort == 'desc'}
                    {_new_first}
                {else}
                    {_old_first}
                {/if}

                <div n:class="sort_link_icon, $sort == 'desc' ? sort_link_icon_desc : sort_link_icon_asc"></div>
            </a>
            </div>
        {/if}
        {if sizeof($comments) > 0}
            <div class='scroll_container' n:attr="data-fetch-url => $commentsFetchUrl">
                {foreach $comments as $comment}
                    {include "comment.latte", comment => $comment, model => $model}
                {/foreach}
                {include "paginator.latte", conf => (object) ["page" => $page, "count" => $count, "amount" => sizeof($comments), "perPage" => 10, "fetchUrl" => $commentsFetchUrl]}
            </div>
        {else}
            {include "../components/content_error.latte", icon => "first_comment.png", description=> tr("comments_tip"), htmlId => "none_tip"}
            <div class='scroll_container' n:attr="data-fetch-url => $commentsFetchUrl"></div>
        {/if}
    </div>
{/if}
<div n:if="$canComment" id="standaloneCommentBox">
    {var $commentsURL = "/al_comments/create/$model/" . $parent->getId()}
    {var $club = $parent instanceof \openvk\Web\Models\Entities\Post && $parent->getTargetWall() < 0 ? (new openvk\Web\Models\Repositories\Clubs)->get(abs($parent->getTargetWall())) : (isset($club) ? $club : null)}
    {if !isset($readOnly) || !$readOnly}
        {include "textArea.latte", route => $commentsURL, postOpts => false, graffiti => (bool) ovkGetQuirk("comments.allow-graffiti"), club => $club, post => $parent, custom_id => isset($custom_id) ? $custom_id : null, attachMenuInTooltip => ($attachMenuInTooltip ?? false)}
    {/if}
</div>
