{php if (!function_exists('vkifyTr')) require_once \OPENVK_ROOT . '/themepacks/vkify16/res/php/vkify_i18n.php';}
{php if(!isset($GLOBALS["textAreaCtr"])) $GLOBALS["textAreaCtr"] = 10;}
{php $textAreaId = ($post ?? NULL) === NULL ? (++$GLOBALS["textAreaCtr"]) : $post->getId()}
{var $textAreaId = ($custom_id ?? NULL) === NULL ? $textAreaId : $custom_id}

{var $attachMenuInTooltip = $attachMenuInTooltip ?? false}
{var $isPostComposer = $postOpts ?? true}
{var $docsEnabled = $docs ?? true}
{var $notesEnabled = ($notes ?? false) === true}
{var $graffitiEnabled = ($graffiti ?? false) === true}
{var $pollsEnabled = ($polls ?? false) === true}
{var $geoEnabled = ($geo ?? false) === true}
{var $sourceEnabled = $hasSource ?? false}

{var $anonEnabled = \OPENVK_ROOT_CONF['openvk']['preferences']['wall']['anonymousPosting']['enable']}
{var $anonAccountId = \OPENVK_ROOT_CONF['openvk']['preferences']['wall']['anonymousPosting']['account'] ?? 100}
{var $anonUser = $anonEnabled ? (new \openvk\Web\Models\Repositories\Users())->get($anonAccountId) : NULL}

{var $hasClub = !is_null($club ?? NULL)}
{var $canModifyClub = $hasClub && !is_null($thisUser ?? NULL) && $club->canBeModifiedBy($thisUser)}
{var $clubDataId = $canModifyClub ? $club->getId() : null}
{var $clubDataRealId = $canModifyClub ? $club->getRealId() : null}
{var $showGroupPostOpts = $isPostComposer && $canModifyClub && ($owner ?? 0) < 0}
{var $showCommentAsGroup = !$isPostComposer && $canModifyClub}

<div id="write" class="has_emoji_picker composer model_content_textarea">
    <form id="write-form-{$textAreaId}" action="{$route}" method="post" enctype="multipart/form-data" style="margin:0;">
        {if $thisUser ?? NULL}
            <a class="post_field_user_link" href="{$thisUser->getURL()}">
                {include 'avatar.latte',
                    author => $thisUser,
                    size => 'miniscule',
                    class => 'post_field_user_image',
                    width => 28,
                    height => 28,
                    alt => $thisUser->getCanonicalName(),
                    data => ['user-url' => $thisUser->getURL()]}

                {if $hasClub}
                    {include 'avatar.latte',
                        author => $club,
                        size => 'miniscule',
                        class => 'post_field_user_image post_field_user_image_group',
                        width => 28,
                        height => 28,
                        alt => $club->getCanonicalName(),
                        style => 'opacity: 0;',
                        data => ['group-url' => $club->getURL()]}
                {/if}

                {if $anonEnabled && $isPostComposer && $anonUser}
                    {include 'avatar.latte',
                        author => $anonUser,
                        size => 'miniscule',
                        class => 'post_field_user_image post_field_user_image_anon',
                        width => 28,
                        height => 28,
                        alt => $anonUser->getCanonicalName(),
                        style => 'opacity: 0;',
                        data => ['anon-url' => $anonUser->getURL()]}
                {/if}
            </a>
        {/if}

        <textarea
            id="wall-post-input{$textAreaId}"
            name="text"
            class="small-textarea"
            style="resize: none;"
            placeholder="{ifset $placeholder}{$placeholder}{else}{_write}{/ifset}"
        ></textarea>
        <div class="emoji_picker_entrypoint" {if ($postOpts ?? true)}data-stickers="0"{/if}></div>

        <div id="post-buttons{$textAreaId}" class="post-buttons">
            <div class="post-horizontal"></div>
            <div class="post-vertical"></div>
            <div class="post-has-poll">{_poll}</div>
            <div class="post-has-geo"></div>
            <div class="post-source"></div>

            <input type="hidden" name="horizontal_attachments" value="" autocomplete="off" />
            <input type="hidden" name="vertical_attachments" value="" autocomplete="off" />
            <input type="hidden" name="poll" value="none" autocomplete="off" />
            <input type="hidden" id="source" name="source" value="none" autocomplete="off" />
            <input type="hidden" name="geo" value="" autocomplete="off" />
            <input type="hidden" name="reply_to_comment" value="" autocomplete="off" />
            <input type="hidden" name="type" value="1" autocomplete="off" />
            <input type="hidden" name="hash" value="{$csrfToken}" />

            <div class="post-bottom-acts">
                <div id="wallAttachmentMenu" class="page_add_media post-attach-menu {if !$attachMenuInTooltip}post-attach-menu--inline{/if}">
                    {if $attachMenuInTooltip}
                        <div class="ui_actions_menu_wrap" onmouseover="{='uiActionsMenu.show(this, null, {autopos: true});'|noescape}" onmouseout="uiActionsMenu.hide(this);">
                            <span
                                class="post-attach-menu__trigger"
                                id="moreAttachTrigger{$textAreaId}"
                                tabindex="0"
                                role="button"
                            ></span>
                            <div class="ui_actions_menu" id="moreAttachTooltip{$textAreaId}">
                            <a id="__photoAttachment" class="attach_photo" n:attr="data-club => $clubDataId">
                                <div class="post-attach-menu__icon"></div>
                                {_photo}
                            </a>
                            <a id="__videoAttachment" class="attach_video">
                                <div class="post-attach-menu__icon"></div>
                                {_video}
                            </a>
                            <a id="__audioAttachment" class="attach_audio" n:attr="data-club => $clubDataId">
                                <div class="post-attach-menu__icon"></div>
                                {_audio}
                            </a>
                            <a n:if="$docsEnabled" id="__documentAttachment" class="attach_document" n:attr="data-club => $clubDataRealId">
                                <div class="post-attach-menu__icon"></div>
                                {_document}
                            </a>
                            {if $isPostComposer}
                                <a n:if="$notesEnabled" id="__notesAttachment" class="attach_note">
                                    <div class="post-attach-menu__icon"></div>
                                    {_note}
                                </a>
                                <a n:if="$graffitiEnabled" class="attach_graffiti" onclick="window.vkifyGraffiti(event);">
                                    <div class="post-attach-menu__icon"></div>
                                    {_graffiti}
                                </a>
                                <a n:if="$pollsEnabled" class="attach_poll" onclick="initPoll(event);">
                                    <div class="post-attach-menu__icon"></div>
                                    {_poll}
                                </a>
                                <a n:if="$geoEnabled" id="__geoAttacher" class="attach_geo">
                                    <div class="post-attach-menu__icon"></div>
                                    {_geo_place}
                                </a>
                            {/if}
                        </div>
                        </div>
                    {elseif $isPostComposer}
                        <a id="__photoAttachment" class="attach_photo"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_photo}"
                           n:attr="data-club => $clubDataId">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                        <a id="__videoAttachment" class="attach_video"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_video}">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                        <a id="__audioAttachment" class="attach_audio"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_audio}"
                           n:attr="data-club => $clubDataId">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                        <div class="ui_actions_menu_wrap" onmouseover="{='uiActionsMenu.show(this, null, {align: "center"});'|noescape}" onmouseout="uiActionsMenu.hide(this);">
                            <a class="post-attach-menu__trigger" id="moreAttachTrigger{$textAreaId}">
                                {=vkifyTr('more')}
                            </a>
                            <div class="ui_actions_menu" id="moreAttachTooltip{$textAreaId}">
                                <a n:if="$docsEnabled" id="__documentAttachment" class="attach_document" n:attr="data-club => $clubDataRealId">
                                    <div class="post-attach-menu__icon"></div>
                                    {_document}
                                </a>
                                <a n:if="$notesEnabled" id="__notesAttachment" class="attach_note">
                                    <div class="post-attach-menu__icon"></div>
                                    {_note}
                                </a>
                                <a n:if="$graffitiEnabled" class="attach_graffiti" onclick="window.vkifyGraffiti(event);">
                                    <div class="post-attach-menu__icon"></div>
                                    {_graffiti}
                                </a>
                                <a n:if="$pollsEnabled" class="attach_poll" onclick="initPoll(event);">
                                    <div class="post-attach-menu__icon"></div>
                                    {_poll}
                                </a>
                                <a n:if="$geoEnabled" id="__geoAttacher" class="attach_geo">
                                    <div class="post-attach-menu__icon"></div>
                                    {_geo_place}
                                </a>
                            </div>
                        </div>
                    {else}
                        <a id="__photoAttachment" class="attach_photo"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_photo}"
                           n:attr="data-club => $clubDataId">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                        <a id="__videoAttachment" class="attach_video"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_video}">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                        <a id="__audioAttachment" class="attach_audio"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_audio}"
                           n:attr="data-club => $clubDataId">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                        <a n:if="$docsEnabled" id="__documentAttachment" class="attach_document"
                           data-tip="simple-black" data-align="bottom-start" data-tiptitle="{_document}"
                           n:attr="data-club => $clubDataRealId">
                            <div class="post-attach-menu__icon"></div>
                        </a>
                    {/if}
                    {if $showCommentAsGroup}
                        <div class="post-opts-trigger ui_actions_menu_wrap" onmouseover="{='uiActionsMenu.show(this, null, {align: "left"});'|noescape}" onmouseout="uiActionsMenu.hide(this);">
                            <div class="post_settings" id="postOptsTrigger{$textAreaId}" role="button">
                                <div class="common_icon"></div>
                            </div>
                            <div class="post-opts ui_actions_menu" id="postOptsTooltip{$textAreaId}">
                                <label class="checkbox">
                                    <input type="checkbox" name="as_group" form="write-form-{$textAreaId}" onchange="window.handleWallAsGroupClick(this)" />
                                    <span>{_comment_as_group}</span>
                                </label>
                            </div>
                        </div>
                    {/if}
                </div>

                <div class="post-replyto" n:if="!$attachMenuInTooltip"></div>

                <div class="post-bottom-buttons">
                    {if $isPostComposer}
                        <div class="ui_actions_menu_wrap" onmouseover="{='uiActionsMenu.show(this);'|noescape}" onmouseout="uiActionsMenu.hide(this);">
                            <div class="post_settings" id="postOptsTrigger{$textAreaId}" role="button">
                                <div class="common_icon"></div>
                            </div>
                            <div class="post-opts ui_actions_menu" id="postOptsTooltip{$textAreaId}">
                            {if $showGroupPostOpts}
                                <label class="checkbox" n:if="!$club || $club->getWallType() == 1">
                                    <input type="checkbox" name="as_group" form="write-form-{$textAreaId}" onchange="window.handleWallAsGroupClick(this)" />
                                    <span>{_post_as_group}</span>
                                </label>
                                <label class="checkbox" id="forceSignOpt" style="display: none;">
                                    <input type="checkbox" name="force_sign" form="write-form-{$textAreaId}" />
                                    <span>{_add_signature}</span>
                                </label>
                            {/if}

                            <label n:if="$anonEnabled" class="checkbox" id="octoberAnonOpt">
                                <input type="checkbox" name="anon" form="write-form-{$textAreaId}" onchange="window.handleWallAnonClick(this)" />
                                <span>{_as_anonymous}</span>
                            </label>

                            <label class="checkbox">
                                <input type="checkbox" name="nsfw" form="write-form-{$textAreaId}" />
                                <span>{_contains_nsfw}</span>
                            </label>

                            {if $sourceEnabled}
                                <div class="separator"></div>
                                <a id="__sourceAttacher" class="attach_source">
                                    <div class="post-attach-menu__icon"></div>
                                    {_set_source}
                                </a>
                            {/if}
                        </div>
                        </div>
                    {/if}

                    {if !$isPostComposer}
                        <input type="button" value="{_cancel}" class="button button_light wall-comment-cancel" />
                    {/if}

                    <input type="submit" value="{_send}" class="button" />
                </div>
            </div>
            <div class="post-replyto" n:if="$attachMenuInTooltip"></div>
        </div>
    </form>
</div>
