{block content}
    <div class="video_item scroll_node{if $search ?? false} search_content{/if}" data-uniqueid="video-{$video->getVirtualId()}">
        <a href="/video{$video->getPrettyId()}" id="videoOpen" data-id="{$video->getPrettyId()}">
            <div class="video_item_thumb_wrap">
                <div class="video_item_thumb" style="background-image: url('{$video->getThumbnailURL()}')"></div>
                <div class="video_item_controls">
                    <div class="video_thumb_label">
                    {if $video->getType() != 0}
                        <span class="video_thumb_label_item">
                            {$video->getType() == \openvk\Web\Models\Entities\Video::TYPE_EMBED ? 'YouTube' : ''}
                        </span>
                        <div class="divider" n:if="$video->getFormattedLength() != '00:00'"></div>
                    {/if}
                        <span class="video_thumb_label_item" n:if="$video->getFormattedLength() != '00:00'">{$video->getFormattedLength()}</span>
                    </div>
                    <div class="video_thumb_play">
                    </div>
                </div>
                <div class="video_thumb_actions" n:if="isset($thisUser) && $thisUser->getId() === $video->getOwner()->getId()">
                    <div>
                        <a href="/video{$video->getPrettyId()}/edit" onclick="event.preventDefault(); edit_video(event)" class="video_thumb_action_edit" title="{tr('edit')}">
                            <div class="icon"></div>
                        </a>
                    </div>
                    <div>
                        <a id="_videoDelete" href="/video{$video->getPrettyId()}/remove" class="video_thumb_action_delete" title="{tr('delete')}">
                            <div class="icon"></div>
                        </a>
                    </div>
                </div>
                <div class="video_thumb_actions" n:if="!isset($thisUser) || $thisUser->getId() != $video->getOwner()->getId()">
                    <div>
                        <a href="javascript:reportVideo({$video->getId()})" class="video_thumb_action_delete" title="{tr('report')}">
                            <div class="icon"></div>
                        </a>
                    </div>
                </div>
            </div>
        </a>
        <div class="video_item_info">
            <a id="videoOpen" data-id="{$video->getPrettyId()}" class="video_item_title" href="/video{$video->getPrettyId()}">
                <span class="video_name">{$video->getName()}</span>
            </a>
            <a class="video_item_author" href="{$video->getOwner()->getUrl()}">{$video->getOwner()->getCanonicalName()}</a>
            <div class="video_item_add_info">
                <span class="video_item_date_info">{$video->getPublicationTime()}</span>
            </div>
        </div>
    </div>
{/block}
