{var $transparentAppbar = true}


{define mobileProfile}
    {include '../components/mobile_profile_hero.latte', entity => $user, name => $user->getFullName(), status => tr('user_is_blocked'), verified => $user->isVerified(), disablePhotoViewer => true}
    <div class="page_block mobile-actions-info-block mobileonly" n:ifcontent>
        {include '../components/mobile_profile_actions.latte'}
    </div>
    <div class="page_block page_padding mobile-page-info mobileonly">
        <div class="profile_deleted_text">
            {tr("user_banned", htmlentities($user->getFirstName()))|noescape}<br/>
            {_user_banned_comment} <b>{$user->getBanReason()}</b>.<br/>
            {_user_is_blocked}
            <span n:if="$user->getUnbanTime() !== NULL">{_before}: <b>{$user->getUnbanTime()}</b></span>
            <span n:if="$user->getUnbanTime() === NULL"><b>{_forever}</b></span>
        </div>
    </div>
{/define}

    {include #mobileProfile}

    <div class="wide_column_right nomobile">
        <div class="narrow_column_wrap">
            <div class="narrow_column">
                <div class="page_block photo_block">
                    <div class="avatar_block">
                        <div class="avatar_block_inner">
                            {include '../components/avatar.latte', author => $user, size => 'normal', id => 'bigAvatar', width => ($avatarNormal ? $avatarNormal->width : 200), height => ($avatarNormal ? $avatarNormal->height : 200), alt => $user->getCanonicalName(), style => 'width: 100%; image-rendering: -webkit-optimize-contrast', class => ''}
                        </div>
                    </div>
					{include '../components/profile_actions.latte'}
                </div>
            </div>
        </div>

    <div class="wide_column_wrap">
        <div class="wide_column">
            <div class="page_block page_info_wrap">
                <div class="accountInfo clearFix">
                    <div class="page_top">
                        <h2 class="page_name">{$user->getFullName()}
                            <a class="page_verified" n:if="$user->isVerified()" href="/verify"></a>
                        </h2>
                        <div class="page_status profile_deleted">{_user_is_blocked}</div>
                    </div>
                </div>
                <div class="profile_deleted_text">
                    {tr("user_banned", htmlentities($user->getFirstName()))|noescape}<br/>
                    {_user_banned_comment} <b>{$user->getBanReason()}</b>.<br/>
                    {_user_is_blocked}
                    <span n:if="$user->getUnbanTime() !== NULL">{_before}: <b>{$user->getUnbanTime()}</b></span>
                    <span n:if="$user->getUnbanTime() === NULL"><b>{_forever}</b></span>
                </div>
                <div class="profile_deleted_actions buttons_row" n:if="isset($thisUser) && $thisUser->getChandlerUser()->can('access')->model('admin')->whichBelongsTo(NULL)">
                    <a class="button button_gray" n:if="$thisUser->getChandlerUser()->can('access')->model('admin')->whichBelongsTo(NULL)" href="javascript:unbanUser()">{_unban_user_action}</a>
                    <a class="button button_gray" n:if="$thisUser->getChandlerUser()->can('write')->model('openvk\Web\Models\Entities\TicketReply')->whichBelongsTo(0)" href="javascript:toggleBanInSupport()">
                    {if $user->isBannedInSupport()}{_unban_in_support_user_action}{else}{_ban_in_support_user_action}{/if}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{ifset $thisUser}
    <script n:if="$thisUser->getChandlerUser()->can('access')->model('admin')->whichBelongsTo(NULL)">
        function unbanUser() {
            uUnbanMsgTxt  = "Р’С‹ СЃРѕР±РёСЂР°РµС‚РµСЃСЊ СЂР°Р·Р±Р°РЅРёС‚СЊ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ " + {$user->getCanonicalName()} + ".";
            uUnbanMsgTxt += "<br/>РЎРµР№С‡Р°СЃ РѕРЅ Р·Р°Р±Р»РѕРєРёСЂРѕРІР°РЅ РїРѕ РїСЂРёС‡РёРЅРµ: <strong>" + {$user->getBanReason()} + "</strong>.";
            MessageBox("Р Р°Р·Р±Р°РЅРёС‚СЊ " + {$user->getFirstName()}, uUnbanMsgTxt, ["РџРѕРґС‚РІРµСЂРґРёС‚СЊ", "РћС‚РјРµРЅР°"], [
                (function() {
                    xhr = new XMLHttpRequest();
                    xhr.open("GET", "/admin/unban/" + {$user->getId()} + "?hash=" + {rawurlencode($csrfToken)}, true);
                    xhr.onload = (function() {
                        if(xhr.responseText.indexOf("success") === -1)
                            MessageBox("РћС€РёР±РєР°", "РќРµ СѓРґР°Р»РѕСЃСЊ СЂР°Р·Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ...", ["OK"], [Function.noop]);
                        else
                            MessageBox("РћРїРµСЂР°С†РёСЏ СѓСЃРїРµС€РЅР°", "РџРѕР»СЊР·РѕРІР°С‚РµР»СЊ СЂР°Р·Р±Р»РѕРєРёСЂРѕРІР°РЅ", ["OK"], [Function.noop]);
                    });
                    xhr.send(null);
                }),
                Function.noop
            ]);
        }

        function warnUser() {
            uBanMsgTxt  = "Р’С‹ СЃРѕР±РёСЂР°РµС‚РµСЃСЊ РїСЂРµРґСѓРїСЂРµРґРёС‚СЊ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ " + {$user->getCanonicalName()} + ".";
            uBanMsgTxt += "<br/>РњС‹ РѕС‚РїСЂР°РІРёРј СѓРІРµРґРѕРјР»РµРЅРёРµ РїРѕР»СЊР·РѕРІР°С‚РµР»СЋ РІ Р»РёС‡РЅС‹Рµ СЃРѕРѕР±С‰РµРЅРёСЏ РѕС‚ РёРјРµРЅРё Р°РєРєР°СѓРЅС‚Р° Р°РґРјРёРЅРёСЃС‚СЂР°С‚РѕСЂР°.";
            uBanMsgTxt += "<br/><br/><b>РўРµРєСЃС‚ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёСЏ</b>: <input type='text' id='uWarnMsgInput' placeholder='РїСЂРёРґСѓРјР°Р№С‚Рµ С‡С‚Рѕ-РЅРёР±СѓРґСЊ РєСЂСѓС‚РѕРµ' />";

            MessageBox("Р’С‹РґР°С‚СЊ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёРµ " + {$user->getFirstName()}, uBanMsgTxt, ["РџРѕРґС‚РІРµСЂРґРёС‚СЊ", "РћС‚РјРµРЅР°"], [
                (function() {
                    res = document.querySelector("#uWarnMsgInput").value;
                    xhr = new XMLHttpRequest();
                    xhr.open("GET", "/admin/warn/" + {$user->getId()} + "?message=" + res + "&hash=" + {rawurlencode($csrfToken)}, true);
                    xhr.onload = (function() {
                        if(xhr.responseText.indexOf("message") === -1)
                            MessageBox("РћС€РёР±РєР°", "РќРµ СѓРґР°Р»РѕСЃСЊ РѕС‚РїСЂР°РІРёС‚СЊ РїСЂРµРґСѓРїСЂРµР¶РґРµРЅРёРµ...", ["OK"], [Function.noop]);
                        else
                            MessageBox("РћРїРµСЂР°С†РёСЏ СѓСЃРїРµС€РЅР°", "РџСЂРµРґСѓРїСЂРµР¶РґРµРЅРёРµ РѕС‚РїСЂР°РІР»РµРЅРѕ", ["OK"], [Function.noop]);
                    });
                    xhr.send(null);
                }),
                Function.noop
            ]);
        }
    </script>
    <script n:if="$thisUser->getChandlerUser()->can('write')->model('openvk\Web\Models\Entities\TicketReply')->whichBelongsTo(0)">
        {if $user->isBannedInSupport()}
            function toggleBanInSupport() {
                uBanMsgTxt  = "Р’С‹ СЃРѕР±РёСЂР°РµС‚РµСЃСЊ СЂР°Р·Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РІ РїРѕРґРґРµСЂР¶РєРµ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ " + {$user->getCanonicalName()} + ".";
                uBanMsgTxt += "<br/>РЎРµР№С‡Р°СЃ РѕРЅ Р·Р°Р±Р»РѕРєРёСЂРѕРІР°РЅ РїРѕ РїСЂРёС‡РёРЅРµ <strong>" + {$user->getBanInSupportReason()} + "</strong>.";
                MessageBox("Р Р°Р·Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РІ РїРѕРґРґРµСЂР¶РєРµ " + {$user->getFirstName()}, uBanMsgTxt, ["РџРѕРґС‚РІРµСЂРґРёС‚СЊ", "РћС‚РјРµРЅР°"], [
                    (function() {
                        xhr = new XMLHttpRequest();
                        xhr.open("GET", "/admin/support/unban/" + {$user->getId()} + "?hash=" + {rawurlencode($csrfToken)}, true);
                        xhr.onload = (function() {
                            if(xhr.responseText.indexOf("success") === -1)
                                MessageBox("РћС€РёР±РєР°", "РќРµ СѓРґР°Р»РѕСЃСЊ СЂР°Р·Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ РІ РїРѕРґРґРµСЂР¶РєРµ...", ["OK"], [Function.noop]);
                            else
                                MessageBox("РћРїРµСЂР°С†РёСЏ СѓСЃРїРµС€РЅР°", "РџРѕР»СЊР·РѕРІР°С‚РµР»СЊ СЂР°Р·Р±Р»РѕРєРёСЂРѕРІР°РЅ РІ РїРѕРґРґРµСЂР¶РєРµ", ["OK"], [Function.noop]);
                        });
                        xhr.send(null);
                    }),
                    Function.noop
                ]);
            }
        {else}
            function toggleBanInSupport() {
                uBanMsgTxt  = "Р’С‹ СЃРѕР±РёСЂР°РµС‚РµСЃСЊ Р·Р°Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РІ РїРѕРґРґРµСЂР¶РєРµ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ " + {$user->getCanonicalName()} + ".";
                uBanMsgTxt += "<br/><br/><b>РџСЂРёС‡РёРЅР° Р±Р°РЅР°</b>: <input type='text' id='uBanMsgInput' placeholder='РїСЂРёРґСѓРјР°Р№С‚Рµ С‡С‚Рѕ-РЅРёР±СѓРґСЊ РєСЂСѓС‚РѕРµ' />";
                MessageBox("Р—Р°Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РІ РїРѕРґРґРµСЂР¶РєРµ " + {$user->getFirstName()}, uBanMsgTxt, ["РџРѕРґС‚РІРµСЂРґРёС‚СЊ", "РћС‚РјРµРЅР°"], [
                    (function() {
                        res = document.querySelector("#uBanMsgInput").value;
                        xhr = new XMLHttpRequest();
                        xhr.open("GET", "/admin/support/ban/" + {$user->getId()} + "?reason=" + res + "&hash=" + {rawurlencode($csrfToken)}, true);
                        xhr.onload = (function() {
                            if(xhr.responseText.indexOf("success") === -1)
                                MessageBox("РћС€РёР±РєР°", "РќРµ СѓРґР°Р»РѕСЃСЊ Р·Р°Р±Р»РѕРєРёСЂРѕРІР°С‚СЊ РїРѕР»СЊР·РѕРІР°С‚РµР»СЏ РІ РїРѕРґРґРµСЂР¶РєРµ...", ["OK"], [Function.noop]);
                            else
                                MessageBox("РћРїРµСЂР°С†РёСЏ СѓСЃРїРµС€РЅР°", "РџРѕР»СЊР·РѕРІР°С‚РµР»СЊ Р·Р°Р±Р»РѕРєРёСЂРѕРІР°РЅ РІ РїРѕРґРґРµСЂР¶РєРµ", ["OK"], [Function.noop]);
                        });
                        xhr.send(null);
                    }),
                    Function.noop
                ]);
            }
        {/if}
    </script>
{/ifset}
