<div class="page_block">
    <div style="text-align: center; padding: 20px; background: white; border: #DEDEDE solid 1px;">
        <img src="/assets/packages/static/openvk/img/oof.apng" style="width: 20%;" alt="" />
        <span style="color: #707070; margin: 10px 0; display: block;">
            {tr("messages_unavailable")|noescape}
        </span>
    </div>
</div>