{extends "../@layout.latte"}
{php if (!function_exists('vkifyFormatCount')) require_once \OPENVK_ROOT . '/themepacks/vkify16/res/php/vkify_helpers.php';}

{block title}{_photo}{/block}

{block content}
    <style>
    body {
        --layout-width: 1075px;
    }
    </style>
    {do $crumbs = [
        ['href' => $photo->getAlbum() ? $photo->getAlbum()->getOwner()->getURL() : $photo->getOwner()->getURL(), 
         'title' => $photo->getAlbum() ? $photo->getAlbum()->getOwner()->getCanonicalName() : $photo->getOwner()->getCanonicalName()],
        ['href' => $photo->getAlbum() ? "/albums{$photo->getAlbum()->getOwner()->getId()}" : "/albums{$photo->getOwner()->getId()}", 
         'title' => tr("albums")]
    ]}

    {if $photo->getAlbum()}
        {do $crumbs[] = [
            'href' => "/album{$photo->getAlbum()->getPrettyId()}",
            'title' => $photo->getAlbum()->getName() ?? $photo->getAlbum()->getDescription()
        ]}
    {/if}

    {do $crumbs[] = ['title' => tr("photo")]}

    {include "../components/page_crumb_header.latte", crumbs => $crumbs}
    <div class="pv_wrapper">
        <div class="pv_left">
            <div class="pv_photo">
                <img src="{$photo->getURLBySizeId('large')}" />
            </div>
            <div class="pv_bottom_info">
                <div class="pv_bottom_info_left" n:if="$photo->getAlbum()">
                    <a href="/album{$photo->getAlbum()->getPrettyId()}" class="pv_album_name">{$photo->getAlbum()->getName() ?? $photo->getAlbum()->getDescription()}</a>
                </div>
                <div class="pv_bottom_actions">
                    {if isset($thisUser) && $thisUser->getId() === $photo->getOwner()->getId()}
                        <a id="_photoDelete" href="/photo{$photo->getPrettyId()}/delete?hash={rawurlencode($csrfToken)}">{_delete}</a>
                        <span class="divider"></span>
                    {/if}
                    <span class="ui_actions_menu_wrap" onmouseover="{='uiActionsMenu.show(this, null, {autopos: true, align: "right"});'|noescape}" onmouseout="uiActionsMenu.hide(this);">
                        <span class="pv_actions_more" role="button">
                            {=vkifyTr('more')}
                        </span>
                        <div id="pv_actions_more_menu" class="ui_actions_menu dark">
                            <a n:if="isset($thisUser) && $thisUser->getId() === $photo->getOwner()->getId()" href="/photo{$photo->getPrettyId()}/edit">{_edit}</a>
                            <a href="{$photo->getURL()}" target="_blank">{_open_original}</a>
                            <a n:if="isset($thisUser) && $thisUser->getId() != $photo->getOwner()->getId()" href="javascript:reportPhoto({$photo->getId()})">{_report}</a>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="pv_right ovk-photo-details">
            <div class="pv_author_block clear_fix">
                <div class="pv_author_img fl_l">
                    <a href="{$owner->getURL()}">
                        {include '../components/avatar.latte', author => $owner, size => 'miniscule'}
                    </a>
                </div>
                <div class="pv_author_info fl_l">
                    <div class="pv_author_name">
                        <a href="{$owner->getURL()}">{$owner->getCanonicalName()}</a>
                        <a class="page_verified" href="/verify" n:if="$owner->isVerified()"></a>
                    </div>
                    <div class="pv_author_date">{$photo->getPublicationTime()}</div>
                </div>
            </div>
            {var $is2018 = ($_COOKIE['vkify16_2018mode'] ?? '0') === '1'}
            {var $likesCount = $photo->getLikesCount()}
            <div class="post_full_like_wrap" n:if="isset($thisUser)" n:ifcontent>
                <div class="post_full_like" n:ifcontent>
                    {var $liked = $photo->hasLikeFrom($thisUser)}
                    <a href="/photo{$photo->getPrettyId()}/like?hash={rawurlencode($csrfToken)}" class="action_button post_like {if $liked}my_like{/if}" data-liked="{(int) $liked}" data-likes="{$likesCount}" data-id="{$photo->getPrettyId()}" data-type='photo'>
                        <svg class="action_icon" id="{if $liked}liked{/if}"><use class="i16" href="#like-16"/><use class="i18" href="#like-outline-24"/><use class="i18 iact" href="#like-active-24"/></svg>
                        <span class="action_label">{tr('mobile_like')}</span>
                        <span class="action_count">{if $likesCount > 0}{=vkifyFormatCount($likesCount)}{/if}</span>
                    </a>
                    <a id="comments{$photo->getPrettyId()}" class="post_reply action_button mobileonly" href="/photo{$photo->getPrettyId()}">
                        <svg class="action_icon"><use class="i16" href="#comment-14"/><use class="i18" href="#comment-outline-24"/></svg>
                        <span class="action_label">{tr('reply')}</span>
                        <span class="action_count" id="commentsCount{$photo->getPrettyId()}">{if $cCount > 0}{=vkifyFormatCount($cCount)}{/if}</span>
                    </a>
                    <a id="reposts{$photo->getPrettyId()}" class="post_share action_button" href="javascript:repost('{$photo->getPrettyId()}', 'photo')">
                        <svg class="action_icon"><use class="i16" href="#share-14"/><use class="i18" href="#share-arrow-24"/></svg>
                        <span class="action_label">{tr('share')}</span>
                    </a>
                </div>
            </div>
            {include "../components/like_faces.latte", item => $photo, type => 'photo'}
            {if (isset($thisUser) && $thisUser->getId() === $photo->getOwner()->getId()) || !empty($photo->getDescription())}
            {var $descPlain = $photo->getDescription($html = false) ?? ''}
            {var $descFull = $photo->getDescription() ?? ''}
            {var $bigText = mb_strlen($descPlain) > 500}
            <div class="pv_desc">
                {if isset($thisUser) && $thisUser->getId() === $photo->getOwner()->getId()}
                    {if !empty($descFull)}
                        {include "../components/truncated_text.latte", html => $descFull, plain => $descPlain, limit => 500, isEditable => true, editUrl => "/photo" . $photo->getPrettyId() . "/edit"}
                    {else}
                        <a class="pv_can_edit" href="/photo{$photo->getPrettyId()}/edit">
                            <span class="pv_no_description">{_no_description}</span>
                        </a>
                    {/if}
                {else}
                    {include "../components/truncated_text.latte", html => $descFull, plain => $descPlain, limit => 500}
                {/if}
            </div>
            {/if}
            <div class="pv_comments"> 
                {include "../components/comments.latte", comments => $comments, count => $cCount, page => $cPage, model => "photos", parent => $photo, attachMenuInTooltip => true}
            </div>
        </div>
    </div>
{/block}
