{extends "@layout.latte"}

{block wrap}
{ifset narrow}
<div class="wide_column_left">
    <div class="narrow_column_wrap">
        <div class="narrow_column">
            {include narrow}
        </div>
    </div>
    <div class="wide_column_wrap">
        <div class="wide_column">
{/ifset}
            <div class="page_block">
                {ifset specpage}
                    {include specpage, x => $dat}
                {else}
                {ifset size}
                    {include size, x => $dat}
                {/ifset}
                {ifset header}
                    <div class="page_block_h2">
                        <div class="page_block_header">
                            <div class="page_block_header_inner">
                                {include header}
                                <span n:ifset="$count" class="page_block_header_count">{$count}</span>
                            </div>
                        </div>
                    </div>
                {/ifset}
               {ifset tabs}
                    {include tabs}
               {/ifset}
                <div class="list_view scroll_container">
                    {var $data = is_iterable($iterator) ? (is_array($iterator) ? $iterator : iterator_to_array($iterator)) : []}

                    {ifset top}
                        {include top, x => $dat}
                    {/ifset}

                    {if sizeof($data) > 0}
                        <div n:class="search_row, scroll_node, isset($row_class) ? $row_class" n:foreach="$data as $dat" n:attr="id => is_null($table_body_id) ? NULL : $table_body_id, data-uniqueid => method_exists($dat, 'getId') ? ('row-' . $dat->getId()) : null">
                            <div n:ifset="preview" class="img">
                                <a href="{include link, x => $dat}">
                                    {include preview, x => $dat}
                                </a>
                            </div>
                            <div n:ifset="actions" class="action_links controls">
                                {include actions, x => $dat}
                            </div>
                            <div class="info">
                                {ifset infotable}
                                    {include infotable, x => $dat}
                                {else}
                                    <div class="labeled name">
                                        <a href="{include link, x => $dat}">
                                            {include name, x => $dat}
                                        </a>
                                    </div>
                                    {include description, x => $dat}
                                {/ifset}
                            </div>
                        </div>
                            {include "components/paginator.latte", conf => (object) [
                                "page"     => $page,
                                "count"    => $count,
                                "amount"   => sizeof($data),
                                "perPage"  => $perPage ?? \OPENVK_DEFAULT_PER_PAGE,
                                "atBottom" => true,
                            ]}
                    {else}
                        {ifset customErrorMessage}
                            {include customErrorMessage}
                        {else}
                            {include "components/content_error.latte", icon => false, description => tr("no_data_description")}
                        {/ifset}
                    {/if}
                </div>
            </div>
            {/ifset}
{ifset narrow}
        </div>
    </div>
</div>
{/ifset}
{/block}
